/** 
 * default outlookmenu css 
 * @author never-online
 * @cat    outlookmenu
 * design by never-online
 */

.outlookMenu               { overflow:hidden; background-color: #FFFFEE; width:180px; margin:0; padding:0; border:1px solid #E7F5F5; font-size:10pt; font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif; }
.outlookMenu h4            { font-size:10pt; width:100%; cursor:default; background-color:#E7F5F5; text-align:center; color:#0472A4; margin:0; padding:2px 2px 2px 5px; border-bottom:3px double #999; }
.outlookMenu ul, li        { width:100%; margin:0; padding:0; list-style-type: none; }
.outlookMenu ul            { background-color: #E7F5F5; }
.outlookMenu ul li         { background-color: #FFFFEE; text-align:center; color:#0066AA; margin-bottom:1px; padding:2px 2px 2px 5px; }
.outlookMenu ul li a       { text-decoration:none; color:#0066AA; }
.outlookMenu ul li a:hover { text-decoration:none; color:#0066AA; }
