.okmsg{border:1px solid #00EA00;padding:5px 5px 5px 25px;background:url('../images/ok.png') no-repeat #F0FFF0 5px 5px;}
.errormsg{border:1px solid #FF6860;padding:5px 5px 5px 25px;background:url('../images/no.png') no-repeat #FFEFEE 5px 5px;}
